.messenger {
	font-family: Arial, Helvetica, sans-serif;
	padding: 3rem 0;
	color: #e5e7eb;
 
	&__container {
	  max-width: 55rem;
	}
 
	&__content {
	  background: radial-gradient(circle at top, #020617, #000);
	  border-radius: 2rem;
	  padding: 2.5rem;
	  min-height: 32rem;
 
	  display: flex;
	  flex-direction: column;
	  gap: 2rem;
 
	  box-shadow:
		 0 0 80px rgba(56, 189, 248, 0.15),
		 inset 0 0 50px rgba(99, 102, 241, 0.12);
	}
 
	&__messages-container {
	  flex: 1;
	  display: flex;
	  flex-direction: column;
	  gap: 1rem;
	  overflow-y: auto;
	  padding-right: 0.5rem;
 
	  scrollbar-width: thin;
	  scrollbar-color: #38bdf8 transparent;
	}
 
	&__messages-container::-webkit-scrollbar {
	  width: 6px;
	}
 
	&__messages-container::-webkit-scrollbar-thumb {
	  background-color: #38bdf8;
	  border-radius: 10px;
	}
 }