.messenger {
  font-family: Arial, Helvetica, sans-serif;
  padding: 3rem 0;
  color: #e5e7eb;
}
.messenger__container {
  max-width: 55rem;
}
.messenger__content {
  background: radial-gradient(circle at top, #020617, #000);
  border-radius: 2rem;
  padding: 2.5rem;
  min-height: 32rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-shadow: 0 0 80px rgba(56, 189, 248, 0.15), inset 0 0 50px rgba(99, 102, 241, 0.12);
          box-shadow: 0 0 80px rgba(56, 189, 248, 0.15), inset 0 0 50px rgba(99, 102, 241, 0.12);
}
.messenger__messages-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  padding-right: 0.5rem;
  scrollbar-width: thin;
  scrollbar-color: #38bdf8 transparent;
}
.messenger__messages-container::-webkit-scrollbar {
  width: 6px;
}
.messenger__messages-container::-webkit-scrollbar-thumb {
  background-color: #38bdf8;
  border-radius: 10px;
}