.messenger {
  font-family: Arial, Helvetica, sans-serif;
  border: 0.125rem solid lightgoldenrodyellow;
  border-radius: 0.625rem;
  padding: 1.875rem;
  -webkit-box-shadow: 0.625rem 0.625rem 3.625rem black;
          box-shadow: 0.625rem 0.625rem 3.625rem black;
  line-height: 1.2;
}
.messenger .messenger__container {
  max-width: 50rem;
}
.messenger .messenger__content {
  min-height: 31.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}