@use "./_reset" as *;
.wrapper {
	min-height: 100%;
	min-width: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
	background-color: rgb(51, 49, 49);
	& .page {
		flex-grow: 1;
		& section:not(:last-child) {
			margin-bottom: 1.25rem;
		}
	}
	& .header,
	.footer {
		color: #fff;
		font-size: 1.875rem;
		font-family: Arial, Helvetica, sans-serif;
		background-color: rgb(130, 126, 126);
		text-align: center;
		padding: 1.875rem;
	}
	.header {
		margin-bottom: 3.125rem;
	}
}

[class*="__container"] {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	margin: 0 auto;
}
